.theme-default-content:not(.custom) {
    max-width: 60rem;
    margin-left:5rem;
}
.sidebar{
    width:20rem;
}
p, ul, ol {
    line-height: 1.5;
    font-size: 1rem;
}
h2{
    margin-bottom: 2.1rem;
}
